.id
    {
    border: solid 1px #000000;
    height:51px;
    width:288px;
    border-radius:10px;
    left:62px;
    top:420px;
    position:absolute;
    }
.pw
    {
    border: solid 1px #000000;
    height:51px;
    width:288px;
    border-radius:10px;
    top:513px;
    left:62px;
    position:absolute;
    }
.submit
    {
    --background:url(../../assets/submit.png);
    height:51px;
    width:288px;
    --border-radius:10px;
    top:587px;
    left:62px;
    position:absolute;
    }
.title1
{
    color:#000000;
    text-align:center;
    vertical-align:text-top;
    font-size:20px;
    font-family:Inter;
    left:58px;
    top:254px;
    width:295px;
    height:26px;
    position:absolute;
    line-height:auto;
    border-style:hidden;
    outline:none;
}
.title2
{
    color:#000000;
    text-align:center;
    vertical-align:text-top;
    font-size:40px;
    font-family:Inter;
    font-weight: bold;
    left:66px;
    top:309px;
    width:291px;
    height:63px;
    position:absolute;
    line-height:auto;
}
.text3
{
    text-align:center;
    vertical-align:text-top;
    font-size:15px;
    font-family:Inter;
    left:49px;
    top:721px;
    width:313px;
    height:27px;
    position:absolute;
    line-height:auto;
    border-style:hidden;
    outline:none;
}
.text4
{
    text-align:center;
    vertical-align:text-top;
    font-size:15px;
    font-family:Inter;
    left:49px;
    top:740px;
    width:313px;
    height:27px;
    position:absolute;
    line-height:auto;
    border-style:hidden;
    outline:none;
}
.text2
{
    color:#000000;
    text-align:center;
    vertical-align:text-top;
    font-size:15px;
    font-family:Inter;
    left:49px;
    top:683px;
    width:313px;
    height:18px;
    position:absolute;
    line-height:auto;
    border-style:hidden;
    outline:none;
}
.line1
{
    width:130px;
    border:1px solid #000000;
    top:692px;
    left:59px;
    position:absolute;
}
.line2
{
    width:130px;
    border:1px solid #000000;
    top:692px;
    left:219px;
    position:absolute;
}
.logo
{
    height:165px;
    width:165px;
    left:123px;
    top:89px;
    position:absolute;
}
.pw_text
{
    color:#000000;
    text-align:left;
    vertical-align:text-top;
    font-size:22px;
    font-family:Inter;
    left:66px;
    top:481px;
    width:107px;
    height:24px;
    position:absolute;
    line-height:auto;
    border-style:hidden;
    outline:none;
}
.id_text
{
    color:#000000;
    text-align:left;
    vertical-align:text-top;
    font-size:22px;
    font-family:Inter;
    left:66px;
    top:388px;
    width:107px;
    height:24px;
    position:absolute;
    line-height:auto;
    border-style:hidden;
    outline:none;
}
