.flip_main
{
position:absolute;
background-color:#ffffff;
height:900px;
width:412px;
padding:0px;
}
.cal
{

border-radius:10px;
left:31px;
top:300px;
border: solid 3px #000;
position:absolute;
font-weight: bold;
}
.title1
{
color:#000000;
text-align:center;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:59px;
top:260px;
width:295px;
height:26px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.logo
{
height:165px;
width:165px;
left:124px;
top:95px;
position:absolute;
}
.menu
{
height:65px;
width:412px;
top:834px;
left:0px;
position:absolute;
}
.add
{
height:48px;
width:48px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:10px;
position:absolute;
left:184px;
top:835px;
}
.plus
{
color:#000000;
text-align:center;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
font-weight: bold;
left:160px;
top:877px;
width:95px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}

.account
{
height:46px;
width:46px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:10px;
position:absolute;
left:350px;
top:835px;
}
.acc
{
color:#000000;
text-align:center;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
font-weight: bold;
left:352px;
top:877px;
width:41px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.main
{
color:#000000;
text-align:center;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
font-weight: bold;
left:17px;
top:877px;
width:41px;
height:19px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.home
{
height:46px;
width:53.05882263183594px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:10px;
position:absolute;
left:11px;
top:835px;
}
.submit_small
{
--background:url('../../assets/submit_small.png');
height:35px;
width:83px;
color: #000000;
font-weight: bold;
--border-radius:10px;
top:650px;
left:294px;
position:absolute;
}
.content
{
background-color:#d9d9d9;
height:84px;
width:344px;
border-radius:10px;
top:694px;
left:33px;
position:absolute;
}