.flip_lntro
{
  position:absolute;
  background-image: url(../../assets/flip_lntro.png);
  height:900px;
  width:412px;
  padding:0px;
}
.logo
{
  height:300px;
  width:300px;
  left:56px;
  top:180px;
  position:absolute;
}
